/* Navbar.css */

.navbar {
    display: flex;
    justify-content: center; /* Horizontally centers the navbar content */
    align-items: center; /* Vertically centers the navbar content */
    padding: 10px;
    background-color: #f8f8f8; /* Example background color */
    height: 80px; /* Optional: set a fixed height for the navbar */
  }
  
  .logo {
    height: 100px; /* Adjust the height as needed */
    width: 100px; /* Adjust the width as needed */
    margin-right: 20px; /* Space between logo and links */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 45px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ff6347; /* Change color on hover */
  }
  